html{
    overflow: hidden;
}

#panel{
    position: absolute;
    height: 100%;    
    background: transparent;
    right: 0;
    top: 0;
}

#panel_content{
    position: relative;
    width: 175px;
    height: 100%;
    background: #dff0d8;
    float:right;
}

#panel-tab{
    position: relative;
    width: 0px;
    height: 100%;
    background-color: transparent;
    float:left;
}

#myTab{
    position: relative;
    top: 150px;
    background: #777;
    color: #FFF;
    height: 53px;
    right: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    transform: rotate(90deg);
}

#myTab:hover{
    background: #111311;
    color: #FFF;
    cursor: pointer;
}

#myTab p{
    margin: 0;
    width: 149px;
} 

.position-absolute{
    position: absolute;
}


/* modal css */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  font-weight: bold;
}

.modal-header {
  padding: 2px 10px;
}

.modal-body {
    padding: 2px 16px;  
    height: 250px;
    overflow-y: auto;
}

.modal-footer {
  padding: 2px 6px;
}